.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar p{
    font-family: Fredoka;
    font-weight: 500;
    font-size: 24px;
    margin-right: 4rem;
    z-index: 100;
}

.navbar a{
    text-decoration: none;
    z-index: 100;
    color: black;
}

@media only screen and (max-width:480px){
    .navbar{
        align-self: center;
        margin-left: -2rem;
        max-width: 100vw;
    }

    .navbar img{
        width: 150px;
    }

    .navbar a, .navbar p{
        font-size: 18px;
        margin-right: 0;
    }
}